* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #efefef;
}

main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10 px 1px rgba(0, 0, 0, 0.2);
}

.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 20px;
	background-color: orange;
	background-position: center;
	background-size: cover;
}
.photo:hover {
	transform: rotate(3deg) scale(1.10);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}

.photo1 {
	background-image: url(../img/1.jpg);
	width: 300px;
	height: 200px;
	border: 1px solid gray;
}

.photo2 {
	background-image: url(../img/2.jpg);
	width: 200px;
	height: 200px;
	border: 1px solid gray;
}

.photo3 {
	background-image: url(../img/3.jpg);
	width: 250px;
	height: 200px;
	border: 1px solid gray;
}

.photo4 {
	background-image: url(../img/4.jpg);
	width: 200px;
	height: 200px;
	border: 1px solid gray;
}

.photo5 {
	background-image: url(../img/5.jpg);
	width: 200px;
	height: 200px;
	border: 1px solid gray;
}

.photo6 {
	background-image: url(../img/6.jpg);
	width: 280px;
	height: 200px;
	border: 1px solid gray;
}

.photo7 {
	background-image: url(../img/7.jpg);
	width: 200px;
	height: 200px;
	border: 1px solid gray;
}

.photo8 {
	background-image: url(../img/8.jpg);
	width: 210px;
	height: 300px;
	border: 1px solid gray;
}

.photo9 {
	background-image: url(../img/9.jpg);
	width: 250px;
	height: 200px;
	border: 1px solid gray;
}

.photo10 {
	background-image: url(../img/10.jpg);
	width: 250px;
	height: 200px;
	border: 1px solid gray;
}

h1{
	width: 100%;
	text-align: center;
	font-size: 40px;
}